
.container{
    /* display: flex; */
    padding-top: 3.5%;
    background-color: hsl(0, 0%, 100%);


    
    
}
.container img{
    max-width: 100%;
    
    
    
}
.container h6{
    color: hsl(26, 100%, 55%);
}
mark{
    color: hsl(26, 100%, 55%);
    border-radius: 15%;
    
}
hr{
    width: 90%;
    
}
.navbar-brand{
    color: black !important;
    font-family: 'Kumbh Sans', sans-serif !important;
    font-size: 27px;
    padding-right: 30px;
    padding-left: 25px;
}
.navbar-toggler-icon{
    color: black !important;
}
.navbar-dark .navbar-nav .nav-link{
    color: black;
}
.navbar-nav > li{
    padding-left:5px;
    padding-right:5px;
    font-size: 14px;
  }
  .rounded{
    border-radius: 5% !important;

    
  }
  .btn {
    color: white;
    background-color: hsl(26, 100%, 55%);
    

  }
  .card{
    border: none;
    
  }
  /* #prodQuantity{
    width: 60px;
    height: 30px;
    border: 1px solid #222;
  }
  .quantity-number-v2 i{
    padding: 6.8px 10px;
    border: 1px solid #222;
  }
  .quantity-number-v2{
    margin: 50px;} */
  

#minus-btn, #plus-btn, #qty_input{
  background-color: hsl(220, 30%, 96%);
  border: none;
}

input { 
  text-align: center; 
}
.fa-minus ,.fa-plus {
 color:  hsl(26, 100%, 55%);
}
h6,h3{
  font-family: 'Kumbh Sans', sans-serif !important;
}